@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

:root{
    --gray-menu: #a3a3a2;
    --yellow-color: #d9ab07;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    margin: 0;
}
header h2{
    margin: 0;
}

header h2 ul{
    display: flex;
    flex-direction: row;
    background-color: var(--gray-menu);
    color: #fff;
    justify-content: flex-end;
    margin: 0;
    padding: 10px 10px;
    font-size: 0.8rem;
}

header h2 li{
    padding: 0 40px;
    list-style-type: none;
    cursor: pointer;
}

header h2 li span{
    color: blue;
}

header h1{
    margin: 0;
    background-color: black;
    font-size: 1.5rem;
}

header h1 ul{
    display: flex;
    flex-direction: row;
    color: #fff;
    margin: auto;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 20px;
}

header h1 li{
    padding: 0 30px;
    list-style-type: none;
    cursor: pointer;
}

.header-find-input{
    width: 600px;
    padding: 15px 10px;
    font-size: 1.2rem;
    margin: 0;
}


.header-find-label{
    position: relative;
    right: 590px;
    color: gray;
    font-size: 1.2rem;
}

.header-find-button{
    cursor: pointer;
    position: relative;
    right: 235px;
    padding: 20px 20px;
    background-color: var(--yellow-color);
    border: none;
}

.header-find-button:active{
    transform: scale(0.98);
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
}
/* SECTION #1 */

.sales h1 ul{
    display: flex;
    flex-direction: row;
}

.sales h1 ul{
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 0 20px;
}

.sales h1 li{
    cursor: pointer;
    color: black;
    padding: 0 20px;
    list-style-type: none;
    border-left: 1px solid #fff;
}

.sales h1 li:first-of-type{
    margin-left: 50px;
    border-left: none;
    color: var(--yellow-color);
}



/* MAIN MENU */

/* Main div in section */
.main-div {
    display: flex;
    flex-direction: row;
}

/* Rendered menu with products section */
.main-menu {
    padding: 10px 40px;
    background-color: var(--yellow-color);
    margin: 20px;
}

.main-menu li{
    cursor: pointer;
    list-style-type: none;
    padding: 5px 40px;
    color: #fff;
    border-top: 1px solid var(--gray-menu);
}

.main-menu li:hover{
    background: var(--gray-menu);
}

.main-menu li:first-of-type{
    border-top: none;
}

.main-picture {
    width: 100%;
    margin: 20px 40px;
   
}

/* Picture */
.picture {
    /* background-color: var(--gray-menu); */
    background-image: linear-gradient(to right,rgba(255,255,255,1), rgba(255,255,255,0)), url('https://cdn.pixabay.com/photo/2019/09/09/08/23/internet-4463031_1280.jpg');
    height: 90%;
}

/* Menu under picture */
.main-picture h2 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--gray-menu);
    padding: 10px 0;
}

.main-picture h2 ul li{
    cursor: pointer;
    list-style-type: none;
    font-size: 1rem;
    padding: 0 20px;
    color: #fff;
    border-left: 1px solid #fff;
}

.main-picture h2 ul li:first-of-type{
    border-left: none;
}

/* SECTION RECOMMENDED */

.recommendedContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-menu);
    height: 250px;
}

.recommendedItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #fff;
    margin: 20px;

}

.recommendedImage{
    width: 100%;
    height: 100px;
    background-color: #fff;
}

/* COMERCIALS */

.comercials{
    display: flex;
    flex-direction: column;
}

.big-comercial{
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 400px;
}

.big-comercial-element{
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    font-weight: 700;
    width: 100%;
    padding-left: 40px;
    margin: 10px;
    background-image: linear-gradient(to right,rgba(255,255,255,1), rgba(255,255,255,0)), url('https://cdn.pixabay.com/photo/2016/10/26/21/05/modern-kitchen-1772638_1280.jpg');
    background-repeat: no-repeat;
}

.small-comercial{
    display: flex;
    flex-direction: row;
    height: 300px;
    margin: 10px;
}

.small-comercial-element{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 300px;
    width: 300px;
    margin: 10px auto;
    background-repeat: no-repeat;
    background-size: contain;
}

/* SECTION OFFERS */
.offers{
    display: flex;
    flex-direction: column;
    
}

.offersContainer{
    display: flex;
    flex-direction: row;
    height: 400px;
    margin: 20px 20px;
}

.offersImage {
    height: 400px;
    width: 100%;
    background-repeat: no-repeat; 
    background-size: 100%;
}

.offersImageH1 {
    margin-top: 20%;
    margin-left: 20px;
    font-size: 2.2rem;
    color: black;
}

.offersInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.offersInfoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.offersInfoContainerEl{
    border: 3px solid black;
    width: 100%;
    height: 100%;
}